<table>
  <tr>
      @if (ViewBag.include_search != null && ViewBag.include_search == true)
      {
          <td>
              @Html.Partial("_search_button")
          </td>
      }
      <td>
          @Html.Partial("_add_button")
      </td>
      <td>
          @Html.Partial("_delete_button")
      </td>
  </tr>
</table>
