<div id="menu">
  <h3><a href"#">Administration</a></h3>
  <div>
    <div><a id="menu_user" href="#" onclick="return user.load()">User</a></div>
    <div><a href="#" onclick="return emp.load()">Employee</a></div>
    <div><a href="#" onclick="return att.load()">Attendance</a></div>
  </div>
  <h3><a href="#">Job</a></h3>
  <div>
    <div><a href="#" onclick="return designation.load()">Job Title</a></div>
    <div><a href="#" onclick="return empstatus.load()">Employment Status</a></div>
    <div><a href="#" onclick="return jobcat.load()">Job Category</a></div>
    <div><a href="#" onclick="return dept.load()">Department</a></div>
  </div>
  <h3><a href="#">Payroll</a></h3>
  <div>
    <div><a href="#" onclick="return payrate.load()">Pay Rate</a></div>
    <div><a href="#" onclick="return overtimerate.load()">Overtime Pay Rate</a></div>
    <div><a href="#" onclick="return saladj.load()">Salary Adjustment</a></div>
    <div><a href="#" onclick="return otcht.load()">Overtime Chart</a></div>
    <div><a href="#" onclick="return wkcht.load()">Total Hours Worked Chart</a></div>
    <div><a href="#" onclick="return hpcht.load()">Hourly Payroll Chart</a></div>
    <div><a href="#" onclick="return payslip.load()">Payslip</a></div>
  </div>
</div>
