@using Domain.Model;
@using Payroll_Mvc.Helpers;

<table>
    <tr>
        <td>
            <label for="id_year" class="label">Year</label>
        </td>
        <td class="colspacing">
            @{
                List<SelectListItem> ly = new List<SelectListItem>();
                for (int i = DateTime.Now.Year; i >= CommonHelper.END_YEAR; i--)
                {
                    ly.Add(new SelectListItem { Selected = DateTime.Now.Year == i, Text = i.ToString(), Value = i.ToString() });
                }
            }
            @Html.DropDownList("year", ly, new { id = "id_year", @class = "select" })
        </td>
    </tr>
    <tr>
        <td>
            <label for="id_month" class="label">Month</label>
        </td>
        <td class="colspacing">
            @{
                List<SelectListItem> lm = new List<SelectListItem>();
                for (int i = 1; i < 13; i++)
                {
                    lm.Add(new SelectListItem { Selected = DateTime.Now.Month == i, Text = CommonHelper.GetMonthName(i), Value = i.ToString() });
                }
            }
            @Html.DropDownList("month", lm, new { id = "id_month", @class = "select" })
        </td>
    </tr>
</table>
<br />
@{ Html.RenderPartial("_gen_button"); }
