<div id="table_container">
    <div class="page_title ui-widget-header ui-widget">Employee Payslip</div>
    <table class="page_container ui-widget">
        <tbody>
            <tr>
                <td valign="top">@{ Html.RenderPartial("_search_form"); }</td>
            </tr>
        </tbody>
    </table>
</div>
@{ Html.RenderPartial("_alert_panel"); }
