<label for="id_selection" class="label">Search By</label>
<select id="id_selection" class="search_option">
    <option value="0">All</option>
    <option value="1">Job Title</option>
    <option value="2">Job Description</option>
    <option value="3">Note</option>
</select>
@{ Html.RenderPartial("_search_panel"); }
