<table>
  <tr>
    <td>
        <label for="id_employee" class="label">Employee</label>
    </td>
    <td class="colspacing">
        <input id="id_employee" name="employee" type="text" class="search" placeholder="type here to search" title="type here to search" x-webkit-speech="x-webkit-speech" />
    </td>
    <td>
        <label for="id_work_date" class="label">Working Date</label>
    </td>
    <td>
        <input id="id_work_date" name="work_date" type="text" class="search date_input" placeholder="dd-mm-YYYY" x-webkit-speech="x-webkit-speech" />
    </td>
  </tr>
</table>
<br />
@{ Html.RenderPartial("_search_button"); }
